<div class="container" [style.background]="data.color">
    <div class="note" [style.background]="data.color">
        <div><input  [style.background]="data.color" class="title" [(ngModel)]="title" placeholder="Title">
            <img class="pin" src="../../../assets/pin note.svg" />
        </div>
        <div >
            <input [style.background]="data.color" class="description" [(ngModel)]="description" placeholder="note">
        </div>
        <div class="icon">
            <app-icon [noteCard]="data"> </app-icon>
            <button  [style.background]="data.color" mat-button (click)="Close()" class="closeButton">Close</button>
        </div>
    </div>
</div>