<div class="Container">
    <div class="Div">
        <div class="fundoo">
            <b class="F">F</b>
            <b class="u">u</b>
            <b class="n">n</b>
            <b class="d">d</b>
            <b class="o">o</b>
            <b class="o-o">o</b>
        </div>
        <div>
            <p class="span">Find your email</p>
        </div>
        <div>
            <p class="font"> Enter your phone number or recovery email </p>
        </div>
        <div class="InnerDiv">
            
                <div>
                    <mat-form-field appearance="outline" class="email">
                        <mat-label>Phonenumber or Email</mat-label>
                        <input matInput placeholder="Phone number or email" formControlName="Phone number or email">
                    </mat-form-field>
                </div>
                <button class="mat-raised-button"> Next </button>
        </div>
        
    </div>
</div>
