.Container{
    width: 100%;
    height: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Div{
    border:2.5px solid rgb(230, 230, 230);
    height: 60%;
    padding: 35px 25px;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.InnerDiv{
    display:block;
    width: 100%;
}
.fundoo{
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    
}
.F{
    color: #1a73e8;
}
.u{
    color: red;
}
.n{
    color: yellow;
}
.d{
    color: #1a73e8;
}
.o{
    color:green;
}
.o-o{
    color:red;
}
.span{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.font{
    font-size: 16px;
}
.email{
    width: 100%;
    padding-bottom: 0px;
}

.mat-raised-button{
    display: flex;
    justify-content: end;
    background-color:#1a73e8;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;  
    margin-left: auto; 
    :hover {
        background-color:#0248a5;
        color: white;
      }
}
@media (max-width:1025px) {
    .Container {
        width: auto;
        height: auto;
    }
    .Div{
        width: auto;
        height: auto;
    }
}

