<div class="Container">
  <div class="Div">
    <div class="funDo">
      <b class="F">F</b>
      <b class="u">u</b>
      <b class="n">n</b>
      <b class="D">d</b>
      <b class="o">o</b>
      <b class="oo">o</b>
    </div>
    <div>
      <p class="span">Reset Password</p>
    </div>
    <div>
      <p class="font"> Create new Password </p>
    </div>
    <div class="InnerDiv">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="outline" class="password">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="Confirmpassword">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" formControlName="confirmpassword">
          </mat-form-field>
        </div>
        <button class="Forgot" routerLink="/forgot-password"><b>Forgot Password?</b></button>
        <div> Not your computer? Use Guest mode to sign in privately.<br>
          <button class="register">
            <a href="https://support.google.com/chrome/answer/6130773?hl=en">Learn more</a>
          </button>
        </div>
        <div class="matButton">
          <button class="mat-raised-button">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>