.resuable-icons{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
  }
  
  img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left:10px;
    margin-right: 10px;
  }
  .background{
    display: flex;
    flex-wrap: wrap;
    max-width: 140px;
    padding: 5px 5px 5px 5px;
    
}
.colorBoxSetting {
    background-color: transparent;
    border-radius: 20px;
    margin: 2px;
    
}
.bg-color button:hover{
  border: .2px solid black;
}
.bg-color button {
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 100px;
}
.trashicon{
  display: flex;
  flex-direction: row;
  // flex-flow: row wrap;
  // width: 100%;
  // justify-content: space-between;
}
 







