<div class="resuable-icons">
    <button mat-icon-button class="button" >
        <img src="../../../assets/createnoteicon/add_alert_FILL0_wght400_GRAD0_opsz48.svg" alt="remind me icon" width="20px" title="Remind me">
    </button>
    <button mat-icon-button class="button">
        <img src="../../../assets/createnoteicon/person_add_FILL0_wght400_GRAD0_opsz48.svg" alt="add collaborator icon" width="20px"
            title="Collaborator">
    </button>
    <button mat-icon-button class="button">
        <img src="../../../assets/createnoteicon/palette_FILL0_wght400_GRAD0_opsz48.svg" alt="color icon" width="20px" title="Background options">

    </button>
    <button mat-icon-button class="button">
        <img src="../../../assets/createnoteicon/image_FILL0_wght400_GRAD0_opsz48.svg" alt="image icon" width="20px"
            title="Add image">
    </button>
    <button mat-icon-button class="button">
        <img src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="Archive icon" width="20px" title="Archive">
    </button>

    <button mat-icon-button class="button">
        <img src="../../../assets/createnoteicon/more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt="options icon" width="20px" title="More">
        <mat-menu >
            <button mat-menu-item >Delete Note</button>
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>Add drawing </button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>
            <button mat-menu-item>Copy to Google Docs</button>
        </mat-menu>
    </button>

</div>