.icon-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}
.icon button{
    
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}



