.display {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
  }
  
  .notes {
    // border: 1px;
    // border-color: #2f3133;
    // box-shadow: 1px 1px 1px 1px gray;
    border: 1px solid;
    border-color: rgb(224, 220, 220);
    // box-shadow: 1px 1px 3px 3px rgba(157, 167, 170, 0.215);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }
  
  .notes:hover {
    // box-shadow: 1px 1px 3px 3px gray;
    box-shadow: 1px 1px 3px 3px rgba(157, 167, 170, 0.215);
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .title {
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .pin {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
  }
  
  .description {
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 15px;
  }
    
  .icon {
    visibility: hidden;
  }
  
  .notes {
    margin: 10px;
    width: 220px;
  }
  
  .pin img {
    max-width: 100%;
    height: auto;
  }

  
  .notes:hover .icon {
    visibility:visible;
  }
  .notes:hover .pin {
    visibility:visible;
  }
  @media only screen and (max-width:920px) {
    .display {
      display: flex;
      flex-wrap: wrap;
      margin-left: 80px;
    }
}

  