<div class="display">
    <div class="notes" *ngFor="let note of noteList"  [style.background]="note.color">
        <div class="row">
            <div class="title" (click)="openDialog(note)">
                {{note.title}}
            </div>
            <div class="pin">
                <img class="pin" src="../../../assets/pin note.svg">
            </div>
        </div>
        <div class="description" (click)="openDialog(note)">
            {{note.description}}
        </div>
        <div>
        </div>
        <div class="icon">
            <app-icon [noteCard]="note" [isArchived]="childIsArchive" [isDeleted]="childIsTrash" (archiveEvent)="archiverefresh($event)" (trashEvent)="trashRefresh($event)"></app-icon>
        </div>
    </div>
</div>