<div class="display">
    <div class="notes" *ngFor="let note of noteList">
        <div class="row">
            <div class="title">
                <p>{{note.title}}</p>
            </div>
            <div class="pin">
                <img class="pin" src="../../../assets/pin note.svg">
            </div>
        </div>
        <div class="description">
            <p>{{note.description}}</p>
        </div>
        <div>
        </div>
        <div class="icon">
            <app-icon></app-icon>
        </div>
    </div>
</div>