.display {
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
  }
  
  .notes {
    border: 1px;
    border-color: #595b5f;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: white;
  }
  
  .notes:hover {
    box-shadow: 1px 1px 3px 3px gray;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .title {
    font-size: medium;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .pin {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .description {
    font-size: small;
    margin-top: 0;
    margin-bottom: 10px;
  }
    
  .icon {
    display: block;
  }
  
  .notes {
    margin: 10px;
    width: 300px;
  }
  

  .pin img {
    max-width: 100%;
    height: auto;
  }
  