<div class="header">
  <div class="container1">
    <div class="card">
      <div class="fundoo">
        <div class="F">F</div>
        <div class="U">U</div>
        <div class="N">N</div>
        <div class="D">D</div>
        <div class="O">O</div>
        <div class="O">O</div>
      </div>
      <div class="login">Sign in</div>
      <div class="continue">to continue to Fundoo</div>
      <div class="inputform">
        <mat-form-field appearance="outline" class="email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter Email" class="formControl" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="password">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter Password" class="formControl" formControlName="password">
        </mat-form-field>
          <button mat-flat-button class="forgotpassword">Forgot Password</button>
       
        <div class="Signin">
          <button mat-flat-button class="createaccount">Create Account</button>
          <button mat-flat-button color="primary" class="nextbutton">Next</button>
        </div>

      </div>
    </div>
  </div>
</div>