<div class="Container">
  <div class="Div">
    <div class="funDo">
      <b class="F">F</b>
      <b class="u">u</b>
      <b class="n">n</b>
      <b class="D">d</b>
      <b class="o">o</b>
      <b class="oo">o</b>
    </div>
    <div>
      <p class="span">Sign in</p>
    </div>
    <div>
      <p class="font"> to continue to Fundoo </p>
    </div>
    <div class="InnerDiv">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="outline" class="email">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error>Enter valid Email</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="password">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password">
            <mat-error>Password is required</mat-error>
          </mat-form-field>
        </div>
        <button class="Forgot" routerLink="/forgot-password"><b>Forgot Password?</b></button>
        <div> Not your computer? Use Guest mode to sign in privately.<br>
          <button class="register">
            <a href="https://support.google.com/chrome/answer/6130773?hl=en">Learn more</a>
          </button>
        </div>
        <div class="matButton">
          <button class="register"  routerLink="/register"><b>Create account</b></button>
          <button class="mat-raised-button" > Next </button>
        </div>
      </form>
    </div>
  </div>
</div>