<mat-toolbar class="toolbar">
    <div>
        <button mat-icon-button matTooltip="menu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div class="logo">
        <img src="../../../assets/keep_2020q4_48dp.png">
    </div>

    <h1>Fundoo</h1>
    <div class="header">
        <div class="searchbox">
            <img style="margin-left: 10px; height: 30px;" src="../../../assets/search_FILL0_wght400_GRAD0_opsz48.svg">
            <input class="inputSearchbox" type="search" placeholder="Search">
        </div>
    </div>
    <div class="icon-container">
        <div class="icon">
            <button mat-icon-button matTooltip="refresh"><img
                    src="../../assets/refresh_FILL0_wght400_GRAD0_opsz48.svg"></button>
        </div>
        <div class="icon">
            <button mat-icon-button matTooltip="List view"><img src="../../../assets/list view.svg"></button>
        </div>
        <div class="icon">
            <button mat-icon-button matTooltip="settings"><img
                    src="../../../assets/settings_FILL0_wght400_GRAD0_opsz48.svg"></button>
        </div>
        <div class="icon" style="padding-left: 30px;">
            <button mat-icon-button matTooltip="Fundoo apps"><img
                    src="../../../assets/apps_FILL0_wght400_GRAD0_opsz48.svg"></button>
        </div>
        <div class="icon">
            <button mat-icon-button matTooltip="Fundoo account">
                <img src="../../../assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg"></button>
        </div>
    </div>
</mat-toolbar>